.product-card {
  max-width: 300px;

  .quantity-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .quantity-number {
      display: flex;
      width: 20px;
      justify-content: center;
    }
  }
}
